<html>
<head>
    <title>Main Page</title>
</head>
<body>
    @Html.Partial("_Header")
    <div> STEP 1: Contact Info</div>

    @Html.Partial("_Menu")

    @Html.Partial("Form1")
    <button class="nextButton">
        <a style="color: azure" asp-controller="Home" asp-action="Privacy">
            <div>Next</div>
        </a>
    </button>
    @Html.Partial("_Footer")

</body>
</html>