@Html.Partial("_Header")
<div> STEP 3: Address</div>
@Html.Partial("_Menu")

@Html.Partial("Form3")
<body>
<button type="submit" class="backButton">
    <a asp-controller="Home" asp-action="Privacy">
        <div>Back</div>
    </a>
</button>
<button class="nextButton">
    <a style="color: azure" asp-controller="Home" asp-action="Step3">
        <div>Next</div>
    </a>
</button>
@Html.Partial("_Footer")
</body>