a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


html { font-size: 14px; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

.border-top { border-top: 1px solid #e5e5e5; }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body { margin-bottom: 60px; }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.menu {
    display: inline-block;
    width: 100px;
    float: left;
}

.menu-item {
    display: block;
    width: 150px;
}
.menu-position {
    display: inline;
}
li::before {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    content: "";
}

.form {
    display: inline;
}

.center {
    display: inline-flex;
}

.nextButton {
    background-color: cornflowerblue;
    color: white;
    position: absolute;
    left: 70%;
    top: 80%;
}

.backButton {
    background-color: white;
    position: absolute;
    left: 66%;
    top: 80%;
}

.formDisplay {
    display: inline-block;
    position: absolute;
    left: 35%;
}
.comments {
    position: absolute;
    left: 50%;
}
.vl {
    border-left: 1px solid gray;
    display: inline-block;
    height: 700px;
    position: relative;
    left: 60%;
    margin-left: -3px;
    top: 0;
}
.address-input {
    position: relative;
    left: 30%;
}
.country-input {
    display: inline;
}
.label-text {
    margin: 0 10px;
}
.validation-message {
    display: block;
    color: red;
}