<!DOCTYPE html>


<body>
    <nav class="menu">
        <div class="menu">
            <ul class="navbar-nav flex-column ">
                <li class="nav-item menu-item">
                    <div class="menu-position">Contact Info</div>
                    </li>
                <li class="nav-item menu-item">
                    <div class="menu-position">Areas</div>
                </li>
                <li class="nav-item menu-item">
                    <div class="menu-position">Address</div>
                </li>
                <li class="nav-item menu-item">
                    <div class="menu-position"> PassWord</div>
                </li> 
                <li class="nav-item menu-item">
                    <div class="menu-position">Completed</div> 
                </li>
            </ul>
        </div>
        <div class="vl"></div>
</nav> 

</body>