@Html.Partial("_Header")
<div> STEP 2: Areas</div>
@Html.Partial("_Menu")


<body>
    <button type="submit" class="backButton">
        <a asp-controller="Home" asp-action="Index">
            <div>Back</div>
        </a>
    </button>
    <button class="nextButton">
        <a style="color: azure" asp-controller="Home" asp-action="Step3">
            <div>Next</div>
        </a>
    </button>
    @Html.Partial("_Footer")
</body>
